body { 
    font-family: Arial, sans-serif;
     background-color: #f8f9fa;
}
.hero-section { background: linear-gradient(to right,#0f2027,#203a43,#2c5364); padding:80px 20px; color:white; }
h2 {
    color: #0d6efd;
}

table th {
    font-size: 14px;
}

table td {
    font-size: 13px;
}

footer {
    background-color: #212529;
}